body{
    background-color: rgb(244, 248, 250);
}

/*nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 50px;
    color: rgba(78, 71, 255, 1);
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    font-size: 50px;
}
nav ul{
    display: flex;
}
.btn{
    background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
}
.btn:hover{
    background-color: rgb(212, 88, 88);
}
/*banner-section*/
.banner-section h1{
font-weight: 800;
font-size: 50px;
color: rgba(37, 36, 50, 1);
padding:50px 320px 10px ;
align-items: center;
text-align: center;
}
.btn2{
     background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 550px;
    align-items: center;
    text-align: center;
    font-size: medium;
    text-decoration: none;

}
.btn2:hover{background-color: rgb(241, 80, 180);}
.heading{

    background-image: url(images/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1260px;
    
}
/*main section*/
.action{
    display: flex;
    height: 330px;
    width: 900px;
    margin-top: 50px;
    margin-left: 150px;
    padding: 30px;
    justify-content: space-between;
    
}
.action-section h2{
padding:40px  0 0 0;
font-size:30px;
font-weight: 800;
text-align: left;
}
.pragraph{
    color: rgba(37, 36, 50, 0.5);
text-align: left;
}
.btn3{
    background-color: rgba(78, 71, 255, 1);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
}
.btn3:hover{
    background-color: rgb(192, 224, 75);
}
img{
    border-radius: 20px;
}
/*productive-user-section*/
.user-section{
    background-color: rgb(213, 223, 228);
    height: 230px;
    width: 900px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
}
.user-section h1{
    text-align: center;
    align-items: center;
    font-size:30px;
}
.rated{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rated h1{
    font-size: 50px;
color:rgba(78, 71, 255, 1);
}
.rated p{
    color:rgb(43, 41, 41);
    text-align:center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    
}
