

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body{
    
    background-color: rgb(244, 248, 250);
    margin: 0px;
    padding: 0px;
    
}

/*nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 50px;
    color: rgba(78, 71, 255, 1);
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    font-size: 50px;
}
nav ul{
    display: flex;
}
.btn{
    background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
}
.btn:hover{
    background-color: rgb(212, 88, 88);
}
/*banner-section*/
.banner-section h1{
font-weight: 800;
font-size: 40px;
color: rgba(37, 36, 50, 1);
padding:50px 320px 10px ;
align-items: center;
text-align: center;
}
.btn2{
     background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 550px;
    align-items: center;
    text-align: center;
    font-size: medium;
    text-decoration: none;

}
.btn2:hover{background-color: rgb(241, 80, 180);}
.heading{

    background-image: url(images/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 1260px;
    
}
/*main section*/
.action{
    display: flex;
    height: 330px;
    width: 900px;
    margin-top: 50px;
    margin-left: 150px;
    padding: 30px;
    justify-content: space-between;
    
}
.action-section h2{
padding:40px  0 0 0;
font-size:30px;
font-weight: 800;
text-align: left;
}
.pragraph{
    color: rgba(37, 36, 50, 0.5);
text-align: left;
}
.btn3{
    background-color: rgba(78, 71, 255, 1);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
.btn3:hover{
    background-color: rgb(192, 224, 75);
}
img{
    border-radius: 20px;
}
/*productive-user-section*/
.user-section{
    background-color: rgb(213, 223, 228);
    height: 280px;
    width: 900px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
}
.user-section h1{
    text-align: center;
    align-items: center;
    font-size:30px;
    
}
.rated{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rated h1{
    font-size: 60px;
color:rgba(78, 71, 255, 1);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.rated p{
    color:rgb(43, 41, 41);
    text-align:center;
    margin-bottom: 20px;
    
}
/*review-section*/
.review-section{

    height: 400px;
    width: 900px;
    margin: 50px auto;
    padding: 20px;
    
}
.review-heading{
    align-items: center;
    text-align: center;
    font-size: larger;
}
.img-box{
    display: flex;
    justify-content: first baseline;
    gap: 10px;
    align-items: center;
    text-align: center;
}
.img-box p{
    font-size: 10px;
}
.img-box h5{
    align-items: center;
    font-size: small;
}

.review-people{
    box-sizing: border-box;
    width: 250px;
    background-color: rgb(178, 198, 216);
    padding: 10px;
    margin: 25px;
    box-shadow: 5px 5px 5px black;
    border-radius: 18px;
    
}
.card-section{
    display: flex;
}
.login{
    background-color: rgb(249, 252, 252);
    display: flex;
    width: 900px;
    height: 450px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    
}
.text-header{
font-size: 35px;
text-align: left;
padding: 30px;
}
.form{
    background-color:rgb(245, 236, 236) ;
    height: 200px;
    width: 300px;
    padding: 40px;
    margin: 10px;
    border-radius: 20px;

    
}
.form input{
    border-radius: 7px;
    height: 20px;
    width: 280px;
    font-size: bold;
    row-gap: 10px;
} 
.form textarea{
    width: 280px;
    height:70px;
    border-radius:10px;
}


.btn4{
    background-color: rgba(78, 71, 255, 1);
    padding: 15px 20px;
    margin: 30px;
    border-radius: 15px;
    color: white;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.btn4:hover{
    background-color: rgb(224, 84, 115);
}
/*footer-section*/
.section-footer{
    height: 230px;
    width: 1100px;
    background-color:white;
    margin: 30px auto;
    padding: 20px;
    align-items: center;
    text-align: center;
    color:black;
}
.section-footer h1{
    font-weight: bolder;
    font-size: 65px;
    color: rgba(78, 71, 255, 1) ;
}
.footernav a{
    text-decoration: none;
    margin: 50px;
    color:rgb(230, 14, 14);
    padding: 35px;

}
.footernav{
    justify-content: space-around;
    
}

